.about-info{
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
}
.about{
	margin-top: 80px;
	margin-bottom: 20px;
}
.about-text{
	order: 1;
}
.about-img{
	order: 2;
}
@media screen and (max-width:776px) {
	.about-info{
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.about-text{
		order: 2;
	}
	.about-img{
		margin-bottom: 30px;
		order: 1;
	}
	
}
@media screen and (min-width:1100px) {
	.about{
		height: 100vh;
	}
}