.login{
	margin-top: 60px;
}
.login-container{
	padding: 50px 30px;
	
}
.login-container input , .login-btn {
	width: 400px;
	height: 55px;
}

@media screen and (max-width:550px){
	.login-container input , .login-btn {
		width: 280px;
	}
	
}
@media screen and (max-width:450px){
	.login-container input , .login-btn {
		width: 260px;
	}
	
}
@media screen and (max-width:400px){
	.login-container input , .login-btn {
		width: 240px;
	}
	
}
@media screen and (max-width:350px){
	.login-container input , .login-btn {
		width: 220px;
	}
	
}
@media screen and (max-width:320px){
	.login-container input , .login-btn {
		width: 200px;
	}
	
}
@media screen and (max-width:300px){
	.login-container input , .login-btn  {
		width: 180px;
	}
	
}
@media screen and (max-width:290px){
	.login-container input , .login-btn  {
		width: 200px;
	}
	
}

@media screen and (min-width:1300px) {
	.login{
		height: 100vh;
	}
}